/**
 * SETTINGS
 */
/**
 * LAYOUT
 */
.container {
  width: 85%;
  max-width: 1233px;
  margin: 0 auto; }

.header {
  padding: 1em 0;
  background: #eee; }

/**
 * LOGO
 */
.logo {
  float: left;
  display: block;
  font-size: 1.4rem;
  color: #444;
  text-decoration: none; }

/**
 * TOGGLE
 */
.toggle {
  float: right;
  display: block;
  padding: .25em;
  color: #eee;
  background: #666;
  border: 0;
  cursor: pointer; }
  @media screen and (min-width: 45em) {
    .toggle {
      display: none; } }

/**
 * NAVIGATION
 */
.nav {
  clear: left;
  display: none;
  list-style: none; }
  @media screen and (min-width: 45em) {
    .nav {
      float: right;
      clear: none;
      display: block;
      margin-top: .25em; } }
  .is-active-nav .nav {
    display: block; }

.nav-item {
  display: block; }
  @media screen and (min-width: 45em) {
    .nav-item {
      display: inline-block;
      margin-left: .5rem; }
      .nav-item:first-child {
        margin-left: 0; } }

.nav-link {
  display: block;
  padding: .5em;
  color: #eee;
  background: #666;
  border-top: 1px solid #777; }
  @media screen and (min-width: 45em) {
    .nav-link {
      display: inline;
      padding: 0;
      color: #777;
      background: 0;
      border-top: 0; } }

/**
 * EXTRAS
 */
.clearfix {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=styles.css.map */
