* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

.nav {
	padding: 1em;
}

.menu {
	border: 2px solid goldenrod;
	display: flex;
}

.menu__list:first-child {
	/*margin-left: 1em;*/
	margin-right: auto;
}

.menu__list {
	background: lightyellow;
	border: 2px solid goldenrod;
	padding: 1em;
}

@media (max-width: 500px) {
	.menu {
		flex-direction: column;
	}

	.menu__list:not(:first-child) {
		display: none;
	}
}